.main-content {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 2rem;
    background-color: var(--background-color); 
    color: var(--color);

    .content-card {
        background-color: #333; 
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 1.2rem;
        text-align: center;
        transition: transform 0.2s ease, box-shadow 0.2s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        }

        p {
            margin: 0.5rem 0;
            font-size: 1rem;
            color: rgba(255, 255, 255, 0.87); 
        }

        p:first-of-type {
            font-weight: bold;
            color: #646cff; 
        }

        .email-text {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
